In [1]:
import sys
sys.path.append('/code/notebook/')
from hyperopt import Trials, STATUS_OK, tpe, hp, fmin, STATUS_FAIL, space_eval
from script.data_preparation.data_prep import preparation
from script.utils.split import *
from script.model.transform import *

In [3]:
# import data
import pandas as pd
data = pd.read_csv("/ml_data/ddproperty_final.csv").drop(columns = ["Unnamed: 0"])
X_train, X_test, y_train, y_test= split_data_with_drift_check(data, "regression", "price")

/code/notebook/script/data_preparation/convertion.py:31: FutureWarning:

Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().

/code/notebook/script/data_preparation/convertion.py:31: FutureWarning:

Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().

In [5]:
train_ja = X_train.drop(columns = ["developer", "district"])

In [6]:
# evaluate

,bedroom,bathroom,sqm,developer,built_year,district,luxuary,public,BRT_distance,BTS_distance,...,car park,cook,fitness,furniture,nan,pool,sauna,security,tv,view
5210,0,1,30.0,no,2013,Huai Khwang,0,0,10000,10000,...,0,0,0,0,0,0,0,0,0,0
1202,2,1,39.0,no,2014,Chatuchak,0,0,10000,10000,...,0,0,0,0,0,0,0,0,0,0
1761,1,1,52.0,no,2016,Bang Rak,0,0,10000,10000,...,1,0,0,0,0,0,0,1,0,1
3221,1,1,35.0,no,2009,Phra Khanong,0,1,10000,300,...,0,0,1,0,0,1,0,1,0,0
6091,3,3,277.0,no,2014,Sathon,3,0,10000,10000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5961,1,1,65.0,TCC Capital land - ทีซีซี แคปปิตอล แลนด์ จำกัด,2009,Sathon,1,0,180,10000,...,1,0,1,0,0,1,1,1,0,0
4656,1,1,31.0,L.P.N. Development - แอล.พี.เอ็น.ดีเวลลอปเม้นท...,2006,Huai Khwang,1,2,10000,10000,...,0,0,1,0,0,1,1,1,0,0
645,2,2,85.9,TCC Capital land - ทีซีซี แคปปิตอล แลนด์ จำกัด,2013,Ratchathewi,0,0,10000,230,...,0,1,0,1,0,0,0,0,1,0
600,1,1,47.0,no,2012,Ratchathewi,0,0,10000,810,...,0,0,0,0,0,0,0,0,0,0
1028,1,1,35.0,AP Thailand - เอพี (ไทยแลนด์) จำกัด (มหาชน),2020,Pathum Wan,0,3,10000,530,...,0,0,1,0,0,0,0,1,0,0